@page "/calendar"
@using BlazorApp.Components.Services
@using BlazorApp.Model
@using System.Text.Json
@using System.ComponentModel
@inject ICalendarApiService CalendarApiService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="px-3">
    <div class="d-flex gap-3 justify-content-center align-items-center mt-3 mb-3">
        <h1> Orthodox Calendar </h1>
        <div class="md:w-25">
            <button class="wheat-button @(calendarName==julian ? "text-decoration-underline" :  "")" @onclick="() => setCalendar(julian)"> Julian </button>
        </div>
        <div class="md:w-25">
            <button class="wheat-button @(calendarName==gregorian ? "text-decoration-underline" :  "")" @onclick="() => setCalendar(gregorian)"> Gregorian </button>
        </div>
        
    </div>
    <div class="text-center p-3 m-3 border border-2 border-dark rounded">
        @if (calendarDay != null){
            <div class="d-flex gap-4 justify-content-center mb-3">

                <div class="w-25">
                    <button class="wheat-button" @onclick= "() => setPreviousDay()">Prev</button>
                </div>
                
                <div class="alingn-items-center gap-1 ">
                    <h2>@calendarDay.year, @calendarDay.month, @calendarDay.day </h2>
                    <button class="text-button" @onclick= "() => FetchCalendarToday()">Today</button>
                </div>
                
                <div class="w-25">
                    <button class="wheat-button" @onclick= "() => setNextDay()">Next</button>
                </div>
                
            </div>
            @if(calendarDay.titles!=null){
                @foreach( var title in calendarDay.titles){
                    <h3> @title </h3>
                }
            }
            <h4> @calendarDay.fast_level_desc </h4>
            <h4> @calendarDay.fast_exception_desc </h4>
            
            @if(calendarDay.feasts!=null){
                <h4> Feasts: </h4>
                <ol class="plain-list">
                    @foreach( var feast in calendarDay.feasts){
                        <li> @feast </li>
                    }
                </ol>
            }
            
            <h4> Saints: </h4>
            @if(calendarDay.saints!=null)  {
                <ol class="plain-list">
                    @foreach (var saint in calendarDay.saints){
                        <li> @saint </li>
                    }
                </ol>
            }  
        }
        else{
            <p> Loading... </p>
        }
    </div>
</div>

@code{
    private static string julian = "julian";
    private static string gregorian = "gregorian";
    private string calendarName { get; set; } = gregorian;
    private DateOnly gregorianDate { get; set; } = DateOnly.FromDateTime(DateTime.Now);
    private CalendarDay? calendarDay;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender){
            await FetchCalendarToday();
        }
    }

    private async Task FetchCalendarToday(){
        calendarDay = await CalendarApiService.GetToday(calendarName);
        gregorianDate = DateOnly.FromDateTime(DateTime.Now);
        if(calendarDay != null){
            foreach(PropertyDescriptor descriptor in TypeDescriptor.GetProperties(calendarDay))
            {
                string name = descriptor.Name;
                object value = descriptor.GetValue(calendarDay)!;
                Console.WriteLine("{0}={1}", name, value);
            }
        }
        StateHasChanged();
    }

    private async Task FetchCalendarDay(string cal, int year, int month, int day){
        calendarDay = await CalendarApiService.GetCalendarDay(cal, year, month, day);
        StateHasChanged();
    }

    private async Task setCalendar(string calendar){
        calendarName = calendar;
        await FetchCalendarDay(calendarName, gregorianDate.Year, gregorianDate.Month, gregorianDate.Day);
    } 

    private async void setPreviousDay(){
        gregorianDate = gregorianDate.AddDays(-1);
        await FetchCalendarDay(calendarName, gregorianDate.Year, gregorianDate.Month, gregorianDate.Day); 
    }  

    private async void setNextDay(){
        gregorianDate = gregorianDate.AddDays(1);
        await FetchCalendarDay(calendarName, gregorianDate.Year, gregorianDate.Month, gregorianDate.Day);
    }
}